:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: #3829e0;
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: #1f2f56;
  }

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
    font-family: sans-serif;
    background: url("./images/pattern-background-desktop.svg") no-repeat
    var(--paleBlue);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
